* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Gentium Book Plus', serif;
}

.header{
    width: 100%;
    background-image: url("../img/headcopia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.envio {
    background-color: black;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.envio p {
    width: auto;
    height: 30px;
    font-size: 13px;
    display: flex;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
}

.h1 {
    color: #9f4a00;
    font-size: 50px;
}

#navegation a {
    text-align: center;
    text-decoration: none;
    color: #9f4a00;
    font-size: 20px;
    padding: 10px 30px;
}

#navegation a:hover {
    color: #9f4a00;
}

.dropdown {
    background-color: transparent;
    border: none;
}

.dropdown a:hover {
    background-color: #ffffff76;
}

.imgShop {
    width: 500px;
    height: 600px;
}

.iconos{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.section {
    display: grid;
    grid-template-rows:auto 1fr auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

h2{
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
}

.fav img {
    width: 300px;
    height: 300px;
    margin-bottom: 80px;
}

.button {
    background-color: rgba(250, 155, 218, 0);
    color: #9f4a00;
    font-size: 16px;
    border-color: #9f4a00;
    border-radius: 9px;
    border-width: 1.5px;
}

.button:focus:not(:focus-visible) {
    background-color: #fcf1df;
    color: #9f4a00b4;
    box-shadow:0 1px 1px rgba(255, 241, 232, 0.5)inset, 0 0 8px rgba(255, 239, 227, 0.6);
    outline: 0 none;
}

.form-control:focus{
    border-color: #9f4a00;
    box-shadow:0 1px 1px rgba(255, 241, 232, 0.5)inset, 0 0 8px rgba(255, 239, 227, 0.6);
    outline: 0 none;
}

.button-index {
    border-color: #000000;
    color: #000000;
    border-radius: 10px;
    padding: 5px;
}

.button-index:hover {
    background-color: transparent;
}

.icon {
    font-size: 20px;
    color: #ffffff;
}

.cards {
    width: 180px;
    height: 45px;
}

hr{
    color: #9f4a0091;
}

#position {
    margin-right: 45px;
}