* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Gentium Book Plus', serif;
}

.header{
    width: 100%;
    background-image: url("../img/headcopia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: rgb(152, 144, 144);
    padding: 25px 60px;
    margin-bottom: 30px;
}

.carrito {
    background-color: rgb(152, 144, 144);
    color: #212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
}

.conteo-carrito {
    font-size: 16px;
    background-color: red;
    color: #edeef6;
    position: absolute;
    top:-15px;
    right: -3px;
    padding: 3px;
    border-radius: 5px;

}

.producto-card{
    display: grid;
    grid-template-columns: repeat(4, 275px);
    gap: 30px;
    justify-content: center;
}

.card {
    border: 2px solid #212529 ;
    border-radius: 10px;
}

.card-img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items:center;
}

.card-title{
    font-size: 25px;
}


.bi-bag-plus {
    color: #212529;
    font-size: 25px;
}

.bi-bag-plus:hover {
    color:rgb(216, 101, 101);
}















.button-modal {
    background-color: #ca5f7f;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #edeef6;
    font-size: 14px ;
    padding: 10px 25px;
}

.modalcontainer {
    display: flex;
    background-color: 0 2px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vh;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: rgb(254, 235, 252);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) ;
    text-align: center;
}

.modal h1 {
    margin-bottom: 30px;
    font-size: 20px;

}

.modal p {
    margin-bottom: 40px;
    opacity: 0.7;
    font-size: 14px;
}








@media (max-width:1000px) {
    .producto-card{
        grid-template-columns: repeat(2, 275px);
    }
}

@media (max-width:600px) {
    .producto-card{
        grid-template-columns: repeat(1, 275px);
    }
}